<html>

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"> </script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js"> </script>

  <div id="todos">

    <h3 style = "margin-left: 20px;"> Todos </h3>

    <button style = "margin-bottom: 10px;" @click = "sortOrder = sortOrder * -1"> Toggle Sort completed todos </button>


    <div>
      <h3> Todos by User (sorting by {{sortDirection}} todos completed): </h3>
      <ul>
        <li v-for="user in users | sortByCompleted">
          User <b>{{user.values.userId}}</b> has <b>{{user.values.completedItems}}</b> completed todos and <b>{{user.values.unCompletedItems}}</b> uncompleted todos.
        </li>
      </ul>
    </div>

    <div>
      <h3> Overall stats: </h3>
      <ul>
        <li>Most todos completed by one user: <b>{{mostAmountOfTodosCompleted}}</b> </li>
        <li>Most todos uncompleted by one user: <b>{{mostAmountOfTodosUnCompleted}}</b></li>
        <li>Least todos uncompleted by one user: <b>{{leastAmountOfTodosUnCompleted}}</b> </li>
        <li> Least todos completed by one user: <b>{{leastAmountOfTodosCompleted}}</b></li>
      </ul>

    </div>
  </br>

    <button @click="showTodos = !showTodos"> Show the JSON we are working with </button>

    <div v-show="showTodos">
      <br>
      <ul>
        <li v-for="todo in todos">
          {{todo | json}}
        </li>
      </ul>
    </div>

  </div>

  <script src = "main.js"> </script>

</html>
